*resharper.user

!SensibleSubstitute/src/app/node_modules/**
[Dd]ebug/

[Rr]elease/

build/

[Bb]in/
[Oo]bj/
SensibleSubstitute/[Bb]in/
SensibleSubstitute/[Oo]bj/
[Rr]eference/

*.suo
*.sln
*.tf*
*.tfb
*.tfn.orig
*.tfb.orig