<!DOCTYPE html>
<html lang="en">
    <head>
        @RenderSection("Head", required: false)
        <link href='http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed' rel='stylesheet' type='text/css'>
    </head>
    <body>
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/bootstrap.js")
    </body>
</html>