@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "navbar-right col-md-6 login-top" }))
{
    @Html.AntiForgeryToken()
        <div class="input-group gap-medium col-md-5">
            <span class="input-group-addon input-group-btn"><span class="glyphicon glyphicon-envelope"></span></span>
            <input type="text" class="form-control" placeholder="Email">
        </div>
        <div class="input-group gap-medium col-md-5">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="password" class="form-control" placeholder="Password">
        </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-block btn-primary">Sign in</button>
    </div>
}