<ul class="nav navbar-nav">
    @if(ViewBag.Nav == "Home")
    {<li class="active">@Html.ActionLink("Home","")</li>}
    else
    {<li>@Html.ActionLink("Home","")</li>}
    @if(ViewBag.Nav == "About")
    {<li class="active">@Html.ActionLink("About ","About")</li>}
    else
    {<li>@Html.ActionLink("About","About")</li>}
</ul>