@{
    ViewBag.Title = "Admin";
}
<h2>Welcome to the Sensible Substitute Admin Console.</h2>
<h4>Here you will be able to add content to:</h4>
<ul>
    <li>Add, edit, delete, and schedule blogs posts.</li>
    <li>Manage comments, users, and spam.</li>
    <li>Manage authors and content contributors.</li>
    <li>Organize categories and keyword tags.</li>
    <li>View usage statistics.</li>
</ul>