body
{
    background-color:#f2f2e3 ;
    font-family: 'Roboto', sans-serif;
}

a
{
    text-decoration: none;
}

.stack-left
{
    float:left;
}

.stack-right
{
    float:right;
}

.nudge-right
{
    margin: 0 8px;
}

.login-top
{
    margin: 5px 0;
}

.gap-small
{
    padding-left:2px;
    padding-right:2px;
}

.gap-medium
{
    padding-left:8px;
    padding-right:8px;
}

.input-group, .btn
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn
{
    border-color:#fcc;
}

.btn-primary
{
    background-color:#d55;
}

.nav-button
{
    border: 1px solid #889977;
}
.active :hover
{
    color:#FFF;
}

.active
{
    background-color:#667755;
    border-right:1px solid #556644;
    border-left:1px solid #889977;
}

.navbar-green
{
    color: white;  
    background-color: #778866;
}
.navbar-green a
{
    color: white;
    text-shadow: 1px 1px 1px #000;
}

.shadow
{
    box-shadow: 2px 2px 2px #CCC;
}
/*undo Bootstraps rounding*/
.square
{
    border-radius:0;
}

.center
{
    margin-left: auto;
    margin-right:auto;
    display: block;
    float:none;
}

.container-max
{
    max-width:1000px;
}

.test
{
    background-color: #708060;
    min-height:300px;
}

.menu-list
{
     list-style: none;
}
/************************Bootstrap overrides****************************/
.nav > li > a:hover,
.nav > li > a:focus
{
  text-decoration: none;
  background-color: #708060;
}
.nav > li.active > a:hover
{
  text-decoration: none;
  background-color: #667755;
}

.navbar-nav > li
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:large;
}
.icon-bar
{
    background-color:#889977;
}