<div class="premiere white">
    <div class="premiere-img-container"></div>
    <div class="col-sm-5 premiere-body">
        <div class="premiere-preview">
            <h3 class="heading">Some Heading Goes Here That Is Unusually Long</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="read-more green">
            <a href="/">READ MORE</a>
        </div>
    </div>
    <div class="social">
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
        <div class="fb-like" data-href="http://sensiblesubstitute.com/" data-width="200" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
    </div>
</div>