<div class="nav medium col-md-2 side-panel-left">
    <form class="btn-group-vertical btn-group-lg col-md-12" method="GET">
        <button class="btn btn-primary swap medium" formaction="Blog">
            <span class="glyphicon glyphicon-file">
            </span><span class="btn-text">New Post</span>
        </button>
                <button class="btn btn-menu swap medium" formaction="Blog/Manage">
            <span class="glyphicon glyphicon-edit">
            </span><span class="btn-text">Manage Posts</span>
        </button>
        <button class="btn btn-menu swap medium" formaction="Users">
            <span class="glyphicon glyphicon-user">
            </span><span class="btn-text">Manage Users</span>
        </button>
        <button class="btn btn-menu swap medium" formaction="Authors">
            <span class="glyphicon glyphicon-pencil" >
            </span><span class="btn-text">Manage Authors</span>
        </button>
        <button class="btn btn-menu swap medium" formaction="Tags">
            <span class="glyphicon glyphicon-tag">
            </span><span class="btn-text">Manage Keywords</span>
        </button>
        <button class="btn btn-menu swap medium" formaction="Schedule">
            <span class="glyphicon glyphicon-calendar">
            </span><span class="btn-text">Scheduler</span>
        </button>
        <button class="btn btn-menu swap medium" formaction="Stats">
            <span class="glyphicon glyphicon-stats">
            </span><span class="btn-text">Stats</span>
        </button>
    </form>
</div>